.merit {
    width: min(900px, 100%);

    margin: 0 auto;
    padding-block: $padding;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 50%;
}

.image {
    width: 300px;
    height: 150px;
}