.container {
    width: min(100%, $max-width);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-100;

    padding-block: $padding;
}

.about_description {
    color: $text-subtle;

    text-align: center;
}

.history_wrap {
    width: 80%;

    border-bottom: 4px solid $border-default;
    border-style: dashed;
    
    display: flex;
    justify-content: space-between;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-24;

    margin-bottom: -10px;
}

.history_name {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: $spacing-10;

    padding: $spacing-14 $spacing-16;

    border-radius: $radius-16;

    background-color: $surface-subtlest;
}

.current {
    background-color: $surface-white;
    span {
        color: $text-black;
    }
}

.history_image {
    width: 24px;
    height: 24px;
}

.history_date {
    color: $text-subtle;
}

.history_dot {
    width: 20px;
    height: 20px;

    background-color: $surface-white;

    outline: 9px solid $border-default;

    border-radius: $radius-full;
}