.calendar {
    width: min(100%, $max-width);
    min-height: 100vh;   

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: $spacing-100 $padding;
    margin: 0 auto;
}

.content {
    width: 100%;
    display: flex;
    gap: $spacing-64;
}

.description {
    color: $text-subtle;

    font-weight: 400;
    line-height: 1.6;
}

.card {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: $spacing-20;

    background-color: $surface-default;

    padding: $spacing-24;

    border: 1px solid $border-default;
    border-radius: $radius-20;

    .card_title, .card_date {
        color: $text-default;
    }

    .card_date {
        color: $text-subtle
    }

    .card_info_value {
        color: $text-default;
    }

    svg {
        width: 40px;
        height: 40px;

        color: $text-default;
    }
}

.card_info {
    gap: $spacing-14;
}

.card_info_name {
    color: $text-subtle;
}

.card_now {
    background-color: $surface-white;

    .card_title, .card_date {
        color: $text-black;
    }

    .card_info_value {
        color: $text-black;
    }

    svg {
        color: $text-black;
    }
}

@media (max-width: 768px) {
    .calendar {
        padding: $spacing-48 $padding;
        min-height: auto;
    }
    
    .content {
        flex-direction: column;
        gap: $spacing-32;
    }
    
    .content > div {
        width: 100% !important;
    }
    
    .description {
        font-size: 18px;
        text-align: left;
    }
    
    .card {
        width: 100%;
        padding: $spacing-20;
        gap: $spacing-16;
        
        svg {
            width: 32px;
            height: 32px;
        }
    }
    
    .card_title {
        font-size: 24px;
    }
    
    .card_date {
        font-size: 14px;
    }
    
    .card_info_name,
    .card_info_value {
        font-size: 14px;
    }
}