.hero {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: $spacing-48 $padding;
}

.hero_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-32;


    .hero_text_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-8;

        h1, h2 {
            font-weight: 400;
            letter-spacing: -2px;
            text-transform: uppercase;
        }

        h1 {
            font-size: 78px;
        }

        h2 {
            font-size: 40px;
        }
    }

    .hero_text_date {
        color: $text-subtle;
    }
}

.hero_map {
    width: 100%;
    height: 420px;
    object-fit: contain;
    position: relative;

    opacity: 0.4;
}

.hero_map_overlay {
    width: 100%;
    height: 130px;

    margin-top: -130px;

    background: linear-gradient(to bottom, transparent, $surface-default);

    z-index: 1;
}